<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
	  <!--
	
    If you are an application developer using ODBC to connect to Microsoft Office Access data, 
    set the Connection String to “Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=path to mdb/accdb file”
    If you are an application developer using ODBC to connect to Microsoft Office Excel data, 
    set the Connection String to “Driver={Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)};DBQ=path to xls/xlsx/xlsm/xlsb file”  
    
    <add name="CDN_HL.Properties.Settings.DN_HLConnectionString" connectionString="Driver=Microsoft Access Driver (*.accdb)};DBQ=D:\LinhTu_HL\DB\DN_HL.accdb" providerName="System.Data.OleDb" />
  -->
	<add name="CDN_HL.Properties.Settings.DN_HLConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\LinhTu_HL\DB\DN_HL.accdb" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="ImgFolderPath" value="D:\LinhTu_HL\img\" />
    <add key="ImgFolderDonePath" value="D:\LinhTu_HL\img\Done\" />
    <add key="ImgFolderArchivePath" value="D:\LinhTu_HL\img\Archive\" />
    <add key="ImgFolderArchivePath2" value="D:\LinhTu_HL\img\FirstMove\" />
    <add key="ImgFolderArchivePath3" value="D:\LinhTu_HL\img\SecondMove\" />
    <add key="ImgFolderArchivePath4" value="D:\LinhTu_HL\img\FinalMove\" />
    <add key="ErrLogPath" value="D:\LinhTu_HL\Err\" />
    <add key="ErrLogFile" value="ErrLog.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>